@using EcommerceShop.Contracts.Dtos.ProductDtos
@model ProductUpdateDto
<div class="container-fluid px-4">
    <h1 class="mt-5">Cập nhật sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Tổng quan</a></li>
        <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index">Danh sách sản phẩm</a></li>
        <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <a class="btn btn-outline-success" asp-controller="Product" asp-action="Index">Danh sách</a>
        </div>
    </div>
    <div class="card mb-4">
        @* <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div> *@
        <div class="card-body">
            <form id="form-update-product" class="row g-3" asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="col-md-6" hidden>
                    <label asp-for="ProductId" for="inputProductId" class="form-label">Id</label>
                    <input asp-for="ProductId" type="text" class="form-control" id="inputProductId" value="@Model.ProductId">
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Name" for="inputName" class="form-label">Tên sản phẩm</label>
                    <input asp-for="Name" type="text" class="form-control" id="inputName" value="@Model.Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Details" for="inputDetails" class="form-label">Chi tiết</label>
                    <textarea asp-for ="Details" type="text" class="form-control" id="inputDetails" value="@Model.Details"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Description" for="inputDescription" class="form-label">Mô tả</label>
                    <textarea asp-for="Description" type="text" class="form-control" id="inputDescription" value="@Model.Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="SeoAlias" for="inputSeoAlias" class="form-label">Seo Alias</label>
                    <input asp-for="SeoAlias" type="text" class="form-control" id="inputSeoAlias" value="@Model.SeoAlias">
                    <span asp-validation-for="SeoAlias" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="SeoTitle" for="inputSeoTitle" class="form-label">Seo Title</label>
                    <input asp-for="SeoTitle" type="text" class="form-control" id="inputSeoTitle" value="@Model.SeoTitle">
                    <span asp-validation-for="SeoTitle" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="SeoDescription" for="inputSeoDescription" class="form-label">Mô tả Seo</label>
                    <input asp-for="SeoDescription" type="text" class="form-control" id="inputSeoDescription" value="@Model.SeoDescription">
                    <span asp-validation-for="SeoDescription" class="text-danger"></span>
                </div>
                @* <div class="col-md-6">
                    <label asp-for="ThumbnailImage" for="inputThumbnailImage" class="form-label">Seo Title</label>
                    <input asp-for="ThumbnailImage" type="file" class="form-control" id="inputThumbnailImage">
                    <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                </div> *@
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
    <script>
    ClassicEditor
        .create( document.querySelector( '#inputDetails' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
}