@using EcommerceShop.Contracts.Dtos;
@using EcommerceShop.Contracts.Dtos.UserDtos;
@{
    var listUser = ViewData["ListUsers"] as List<UserDto>;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Tables</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Tổng quan</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <a type="button" class="btn btn-outline-success" asp-controller="User" asp-action="Create">Tạo mới</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Tên tài khoản</th>
                        <th>Tên</th>
                        <th>Họ</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                @* <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot> *@
                <tbody>
                    @foreach (var item in listUser)
                    {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>
                            <a class="btn btn-outline-primary" asp-controller="User" asp-action="Update" asp-route-userId="@item.Id">Cập nhật</a>
                            <a class="btn btn-outline-danger">Xoá</a>
                            <a class="btn btn-outline-info">Chi tiết</a>
                            @* <button type="button" class="btn btn-outline-warning">Warning</button> *@
                        </td>
                    </tr>
                    }                 
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/js/users/user.js" asp-append-version="true"></script>
    <script asp-append-version="true">
       
    </script>
}