@using EcommerceShop.Contracts.Dtos.ProductDtos
@model List<ProductDto>
<!-- Begin Product Area -->
<div class="product-area section-space-y-axis-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <span class="sub-title text-primary">Sản phẩm mới nhất</span>
            <h2 class="title mb-0">Arrival Products</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container product-slider swiper-arrow with-radius border-issue">
                    <div class="swiper-wrapper">
                        @foreach (var product in Model)
                        {
                            <div class="swiper-slide">
                                <div class="product-item">
                                    <div class="product-img img-zoom-effect">
                                        <a asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@product.ProductId">
                                            <img class="img-full" src="@product.ThumbnailImage" alt="Product Images">
                                        </a>
                                        <div class="product-add-action">
                                            <ul>
                                                <li>
                                                    <a class="btn-add-cart" data-productid="@product.ProductId" style="cursor: pointer;">
                                                        <i class="pe-7s-cart"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="compare.html">
                                                        <i class="pe-7s-shuffle"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <a class="product-name" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@product.ProductId">@product.Name</a>
                                        <div class="price-box pb-1">
                                            <span class="new-price">@string.Format("{0:0,0 vnđ}", product.Price)</span>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                                <li><i class="pe-7s-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-nav-wrap">
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->