@using EcommerceShop.Contracts.Dtos.CartDtos
@using EcommerceShop.Contracts.Dtos.OrderDtos
@model CheckoutDto
@{
    var cart = ViewData["Cart"] as List<CartDto>;
    double totalPayment = 0;
    @* var provinceSelected = ViewBag.provinceSelected;
    var districtSelected = ViewBag.districtSelected;
    var wardSelected = ViewBag.wardSelected; *@
}
<main class="main-content">
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coupon-accordion">
                        <h3>Theo dõi tình trạng đơn hàng? <a asp-controller="Auth" asp-action="Login">Đăng nhập ngay</a></h3>
                    </div>
                </div>
            </div>
            <form asp-controller="Checkout" asp-action="Index" method="post">
            <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-lg-6 col-12">
                        <div class="checkbox-form">
                            <h3>Thông tin giao hàng</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Họ<span class="required"> *</span></label>
                                        <input asp-for="LastName" placeholder="" type="text">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Tên<span class="required"> *</span></label>
                                        <input asp-for="FirstName" placeholder="" type="text">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Email <span class="required">*</span></label>
                                        <input asp-for="ShipEmail" placeholder="" type="email">
                                        <span asp-validation-for="ShipEmail" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list">
                                        <label>Số điện thoại <span class="required">*</span></label>
                                        <input asp-for="ShipPhoneNumber" type="text">
                                        <span asp-validation-for="ShipPhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Địa chỉ(Số nhà, Ấp, Thôn) <span class="required">*</span></label>
                                        <input asp-for="ShipAddress" placeholder="" type="text">
                                        <span asp-validation-for="ShipAddress" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkout-form-list">
                                        <select asp-for="ShipProvince" class="w-100" id="city">
                                            <option value="">Chọn tỉnh thành</option>           
                                        </select>
                                        <span asp-validation-for="ShipProvince" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkout-form-list">
                                        <select asp-for="ShipDistrict" class="w-100" id="district">
                                            <option value="">Chọn huyện</option>           
                                        </select>
                                        <span asp-validation-for="ShipDistrict" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkout-form-list">
                                        <select asp-for="ShipWard" class="w-100" id="ward">
                                            <option value="" selected>Chọn xã</option>           
                                        </select>
                                        <span asp-validation-for="ShipWard" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="your-order">
                            <h3>Đơn hàng của bạn</h3>
                            <div class="your-order-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="cart-product-name">Sản phẩm</th>
                                            <th class="cart-product-total">Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in cart)
                                        {
                                            totalPayment = totalPayment + item.Total;
                                        <tr class="cart_item">
                                            <td class="cart-product-name">@item.Product.Name<strong class="product-quantity">
                                                × @item.Quantity</strong></td>
                                            <td class="cart-product-total"><span class="amount">@string.Format("{0:0,0 vnđ}", item.Total)</span></td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="order-total">
                                            <th>Tiền phải thanh toán</th>
                                            <td><strong><span class="amount">@string.Format("{0:0,0 vnđ}", totalPayment)</span></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment-method">
                                <div class="payment-accordion">
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="#payment-1">
                                                <h5 class="panel-title">
                                                    <input asp-for="PaymentBy" type="radio" id="" value="COD">
                                                    <a class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                                        COD
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Thanh toán ngay khi nhận hàng.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="#payment-2">
                                                <h5 class="panel-title">
                                                    <input asp-for="PaymentBy" type="radio" id="" value="Momo">
                                                    <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false">
                                                        Momo
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Thanh toán qua ví điện tử Momo.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-button-payment">
                                        <input value="Place order" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            @* <input type="hidden" id="provinceSelected" value="@provinceSelected">
            <input type="hidden" id="districtSelected" value="@districtSelected">
            <input type="hidden" id="wardSelected" value="@wardSelected"> *@
            </form>
        </div>
    </div>
</main>
<style>
    #city, #district, #ward {
        border: 1px solid #dee2e6;
        background: #fff;
        border-radius: 0;
        height: 42px;
        padding: 0 0 0 10px;
        font-size: 15px;
    }
</style>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/js/cart/checkout.js" asp-append-version="true"></script>
}